@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*, ::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    box-sizing: inherit;
}

:root{
    --grayPrincipal : #1652F0;
    --hoverEnlace : #DAD6D6; 
    --blackTexto: black;
    --botonPrincipal : #00A55D;
    --grayInformativo : white;
    --cardServices : #E9F6FF;
    --footer : #113355;
    --grayMovil : #A5A3A3;
    --serviceCard : rgb(192, 225, 240);
    /*Nuevos colores*/
    --colorCrimson : crimson;
    --whiteTexto : white;
    /*Letras*/
    --robotoPrincipal : "Roboto", sans-serif;
}

img{
    width: 100%;
}

/*Estilos Generales*/
.wrapper{
    padding: 20px;
}

.error{
    padding: 10px;
    color: white;
    background-color: red;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid gray;
}

.complete{
    padding: 10px;
    color: white;
    background-color: rgb(26, 179, 26);
    text-align: center;
    text-transform: uppercase;
    border: 1px solid gray;
}
/*Menu nav*/

.logo p{
    font-size: 20px;
    color: var(--whiteTexto);
}

.menu{
    position: fixed;
    width: 100%;
    background-color: var(--colorCrimson);
    z-index: 999;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-content ul li{
    display: inline-block;
}

.menu-content ul li a{
    display: block;
    text-decoration: none;
    color: var(--whiteTexto);
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}

.menu-btn{
    display: none;
    z-index: 999;
    color: var(--whiteTexto);
    font-size: 25px;
}


/*Info principal*/
.info-principal{
    padding-top: 100px;
    background-color: var(--grayPrincipal);
    height: 700px;
    color: var(--whiteTexto);
}

.img-presentacion{
    width: 200px;
    margin: auto;
}

.img-presentacion{
    text-align: center;
    color: var(--blackTexto);
}

.img-presentacion p{
    color: var(--whiteTexto);
}

.presentacion h1{
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding-bottom: 20px;
}

.presentacion p{
    font-size: 1.2em;
    padding-bottom: 10px;
}

.presentacion button{
    padding: 15px;
    text-align: center;
    border: none;
    margin-bottom: 10px;
    color: var(--whiteTexto);
    font-weight: bold;
    font-size: 1.1rem;
    background-color: var(--botonPrincipal);
}

/*Seccion de */
.card-seccion{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 10px;
    row-gap: 20px;
    margin-top: -150px;
}

.card{
    border: 1px solid var(--hoverEnlace);
    background-color: var(--grayInformativo);
    color: var(--blackTexto);
    padding: 20px;
}

.card h2{
    font-weight: bold;
    font-size: 2em;
    padding-bottom: 10px;
}

.card p{
    padding-bottom: 10px;
    font-size: 1.2em;
}

.card a{
    display: block;
    text-decoration: none;
    width: 150px;
    color: var(--whiteTexto);
    font-size: 1.3em;
    margin: 10px 0;
    padding: 10px;
    background-color: var(--botonPrincipal);
}

/*Estilos card reparar*/
.card-reparar-info{
    padding: 40px;
}



.card-reparar-info h2{
    font-weight: bold;
    font-size: 2.4rem;
    padding-bottom: 10px;
}   

.card-reparar-info p{
    font-size: 1.4em;
    padding-bottom: 10px;
}

.card-reparar-info ol{
    padding-left: 15px;
}

.card-reparar-info ol li{
    padding: 10px;
    font-weight: bold;
    font-size: 1.3em;
}

/*estilos card services*/
.services{
    background-color: var(--serviceCard);
    color: var(--blackTexto);
}

.card-services{
    text-align: center;
    margin-bottom: 20px;
}

.card-imagen-services img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: var(--whiteTexto);
}

.card-services h2{
    padding: 10px 0;
}

.card-services p{
    font-size: 1.3em;
    padding: 10px 0;
}

.card-services a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    color: #0A46E4;
}

.services h2{
    text-align: center;
    padding: 20px 0 10px 0;
    font-weight: bold;
    font-size: 2.4em;
}

/*Carousel trabajadores*/
.trabajadores{
    background-color: var(--whiteTexto);
}

.carousel-empleados{
    text-align: center;
    height: 400px;
}

.info-trabajadores img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.info-trabajadores p{
    font-weight: bold;
    padding: 5px;
}

.descripcion-empleado{
    font-size: 1.3rem;
    margin-top: 15px;
}

.trabajadores h2{
    text-align: center;
    color: var(--blackTexto);
    padding-top: 20px;
}

.trabajadores-info{
    position: relative;
    height: 400px;
}

.carousel-empleados{
    position: absolute;
    opacity: 0;
    transition: all 1s ease-in;
}

.trabajadores-info :first-child{
    opacity: 1;
}

/*Formulario contactanos*/

.contactanos h2{
    margin-top: 150px;
    padding: 20px 0 20px 0;
    text-align: center;
}

.items-form{
    display: flex;
    flex-direction: column;
}

.items-form label{
    padding: 10px 0 10px 0;
    font-weight: bold;
    color: var(--blackTexto);
    font-size: 1.2rem;
}

.items-form input[type="text"], input[type="email"]{
    outline: none;
    appearance: none;
    border: 1px solid var(--hoverEnlace);
    padding: 15px;
}

.items-form input[type="email"]{
    margin-bottom: 20px;
}

form input[type="submit"]{
    width: 100%;
    border: none;
    outline: none;
    padding: 15px;
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--whiteTexto);
    border: 1px solid var(--grayInformativo);
    background-color: var(--grayPrincipal);
}

.img-form{
    margin-left: 10px;
}



/*Estilos al footer*/
.footer{
    background-color: var(--footer);
    color: var(--whiteTexto);
}

.contenido-footer{
    text-align: center;
}

details summary{
    font-weight: bold;
    font-size: 1.1rem;
    outline: none;
    border: none;
    padding: 10px;
}

details ul{
    list-style: none;
}

/*Sociales footer*/
.sociales{
    margin-top: 40px;
    text-align: center;
}

.sociales i{
    font-size: 30px;
    padding: 5px;
}

.fa-facebook-square{ color: var(--hoverEnlace); }
.fa-instagram{ color: var(--hoverEnlace); }
.fa-youtube{ color: var(--hoverEnlace); }
.fa-whatsapp-square{ color:var(--hoverEnlace); }

.footer .contenedor p{
    margin-top: 10px;
    text-align: center;
}

/*Medias query screen*/
@media screen and (max-width: 867px){
    .menu-btn{
        display: block;
    }

    .menu-content ul{
        position: fixed;
        left: 0;
        top: 0;
        background-color: var(--blackTexto);
        height: 100vh;
        width: 100%;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        display: none;
    }

   
}


@media screen and (min-width: 768px){
    .info-principal{
        height: 500px;
    }

    .contactanos h2{
        margin-top: 10px;
    }

    .card-info-reparar{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card-reparar-imagen{
        width: 570px;
        flex: 1;
        order: 2;
    }
    .card-reparar-imagen2{
        width: 570px;
    }

    .card-reparar-info{
        flex: 1;
    }
    .services-items{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        column-gap: 10px;
    }

    .card-services{
        display: flex;
        column-gap: 20px;
        align-items: center;
    }

    .carousel-empleados{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }


    details summary{
        list-style: none;
        appearance: none;
    }

    .contenido-footer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 10px;
    }
    .flex-formulario{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form{
        flex: 1;
    }
    .img-form{
        flex: 1;
    }
}

@media screen and (min-width: 860px){
    .card-seccion{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .contenedor{
        max-width: 1200px;
        margin: auto;
    }
    .principal-article{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .presentacion{
        flex: 1;
    }
    .img-presentacion{
        flex-basis: 30%;
    }
}