*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 69%, rgba(2,0,36,1) 100%);
}

h1{
    text-align: center;
    margin: 20px 0;
    color: white;
    font-weight: bold;
    font-size: 4rem;
}

.contenedor{
    width: 1200px;
    height: 800px;
    margin: auto;
    padding: 50px 0 0 0;
    background-color: white;
    border-radius: 10px;
}

.contenedor form, .resultado{
    width: 800px;
    margin: auto;
}

.contenedor form div{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contenedor form div input[type="text"], select{
    width: 100%;
    padding: 10px;
    outline: none;
    -webkit-appearance: none;
    border: 1px solid #eeeeee;
}

.contenedor form div label{
    font-weight: bold;
    padding: 10px;
    font-size: 1.5rem;
}

.contenedor form div input[type="submit"]{
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(60, 184, 241);
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.resultado{
    text-align: center;
    margin-top: 40px;
}

.error{
    background-color: rgb(243, 112, 112);
    padding: 10px;
    color: white;
}


/*Spinner*/
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }