body{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(121,118,9,1) 69%, rgba(2,0,36,1) 100%);
}

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: inherit;
}

.contenedor{
  width: 1200px;
  margin: 10px auto;
}


.buscar{
    position: relative;
}

.buscar input[type="text"]{
    width: 100%;
    padding: 10px;
    -webkit-appearance: inherit;
    outline: none;
    border: 1px solid #eeeeee;
}


.buscar input[type="button"]{
    background-image: url("../img/lupa.png");
    background-repeat:no-repeat;
    background-position: center;
    position: absolute;
    border: none;
    padding: 10px;
    right: 0;
    top: 1;
    width: 60px;
    outline: none;
}

img{
    width: 100%;
}

#resultado{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
}


#resultado .card{
  background-color: #d3d3d3;
}

#resultado .card img{
    height: 200px;
}

#resultado p{
    font-weight: bold;
    font-size: 1.5rem;
}

.info-pokemon{
  background-color: white;
  padding: 10px;
}

.info-pokemon p{
  text-transform: uppercase;
}

.info-pokemon span{
  display: block;
  padding: 0px 0px 20px 0px;
}

.error{
  margin-top: 10px;
  padding: 10px;
  color: white;
  background-color: #F9947E;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1200px){
  .contenedor{
    width: 800px;
  }
}

@media screen and (max-width: 800px){
  .contenedor{
    width:400px;
  }
}

@media screen and (max-width: 400px){
  .contenedor{
    width: 200px;
  }
}

/*Scroll Infinito*/
.cargando{
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: blue;
  color: white;
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  display: none;
}

/*sSpinner*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}